.elementor-449 .elementor-element.elementor-element-2c28fd8 > .elementor-container{max-width:1354px;}.elementor-449 .elementor-element.elementor-element-9195d3f > .elementor-container{max-width:1354px;}.elementor-449 .elementor-element.elementor-element-172ee91 > .elementor-container{max-width:1354px;}.elementor-449 .elementor-element.elementor-element-ab46c8a > .elementor-container{max-width:1354px;}.elementor-449 .elementor-element.elementor-element-f6e0cc7 > .elementor-container{max-width:1354px;}@media(min-width:768px){.elementor-449 .elementor-element.elementor-element-e74e0b2{width:63.885%;}.elementor-449 .elementor-element.elementor-element-5c70b3e{width:36.115%;}.elementor-449 .elementor-element.elementor-element-c694c7d{width:63.885%;}.elementor-449 .elementor-element.elementor-element-2869f30{width:36.115%;}.elementor-449 .elementor-element.elementor-element-4870711{width:63.885%;}.elementor-449 .elementor-element.elementor-element-3e83e93{width:36.115%;}.elementor-449 .elementor-element.elementor-element-f4f3780{width:63.885%;}.elementor-449 .elementor-element.elementor-element-c1c5419{width:36.115%;}.elementor-449 .elementor-element.elementor-element-9813890{width:63.885%;}.elementor-449 .elementor-element.elementor-element-6e360b1{width:36.115%;}}
/*
     FILE ARCHIVED ON 00:56:40 Mar 15, 2021 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 16:45:38 Nov 04, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 195.905
  exclusion.robots: 0.146
  exclusion.robots.policy: 0.134
  cdx.remote: 0.062
  esindex: 0.009
  LoadShardBlock: 153.93 (3)
  PetaboxLoader3.datanode: 46.246 (4)
  PetaboxLoader3.resolve: 303.204 (2)
  load_resource: 220.224
*/